<div class="nav row">
  <mat-grid-list cols="5" rowHeight="100px" gutterSize="5px" class="nav-menu">
    <mat-grid-tile *ngFor="let menuItem of menuItems">

      <div *ngIf="menuItem.children">
        <a mat-button [matMenuTriggerFor]="afterMenu"> {{ menuItem.title }}
        </a>
        <mat-menu #afterMenu="matMenu" xPosition="before">
          <a *ngFor="let submenuItem of menuItem.children" mat-menu-item routerLink="{{ submenuItem.link }}"
            routerLinkActive="active">{{submenuItem.title}}</a>
        </mat-menu>
      </div>


      <a *ngIf="!menuItem.children" mat-button routerLink="{{ menuItem.link }}" routerLinkActive="active"> {{
        menuItem.title }}
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
